*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topLine{
    background-color: #60267F;
    width: 100%;
    height: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topLinePara{
    font-size: 8px;
}
.headerContainer{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    height: 50px;
    padding: 0 30px ;
    border-bottom: 3px solid rgba(220, 220, 220, 0.301);
}
.headerContainer img {
    width: 100px;
}
.navigationComtainer nav ul{
    display: flex;
    gap: 20px;
}
.navigationComtainer nav {
    display: flex;
    gap: 20px;
}
.navigationComtainer nav ul li{
    list-style: none;

}
.navigationComtainer nav ul li a{
    color: black;
    text-decoration: none;
}
.headerButton{
    background-color: white;
    color: #9A54BC;
    border: 1px solid #9A54BC;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
}
.topSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 20px;
}
.topSectionHeader{
    text-align: center;
    font-size: 30px;
}
.topSectionButton{
    background-color: #9A54BC;
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    color: white;   
    font-weight: 500;
}
.topSectionButton:hover{
    border: 1px solid #9A54BC;
    color: #9A54BC;
    background-color: white;
    cursor: pointer;
}
.elipsesContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 500px;
}
.absolute{
    position: absolute;
}
.absolute.bigElipse{
    
}
.absolute.smallElipse{
    top: 70px;
}
.absolute.rectangle{
    top: 80px;
}
.absolute.collab{
    top: 170px;
}
.elipseBtn{
    top: 360px;
    background-color: white;
    border: 2px solid #9A54BC;
    border-radius: 5px;
    padding: 8px 15px;
    color: #60267F;
    font-weight: bold;
}
.elipseBtn:hover {
    top: 360px;
    background-color: #9A54BC;
    border: 2px solid #9A54BC;
    border-radius: 5px;
    padding: 8px 15px;
    color: white;
    font-weight: bold;
}
.iconsComtainer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h2{
    font-size: 24px;
}
.iconsComtainer .trustedBrands{

}
.iconsComtainer .brandLogos{
    width: 70%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconsComtainer .brandLogo{
    height: 100px;
}
.bigPhoneContainer{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
}
.bigPhoneContainer .vendorAppAndPhoneContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 2rem;
}
.bigPhoneContainer .paragraph{

    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 35px;

}
.bigPhoneContainer .vendorAppPhone{
    width: 50%;
    display: flex;
    justify-content: center;
}
.bigPhoneContainer .paragraphBtncontainer{
    padding: 5px;
    display: flex;
    gap: 5px;
    box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 1px 8px 9px 0px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}
.bigPhoneContainer .paragraphBtncontainer>button{
    width: 50%;
    padding: 5px 0px;
    border: none;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
}
.bigPhoneContainer .paragraphBtncontainer>button:hover{
    border: 2px solid #9A54BC;
    background-color: #60267F;
    color: white;
    border-radius: 3px;
    border-radius: 5px;
}
.bigPhoneContainer .paragraphContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.bigPhoneContainer .vendorPara{ 
    background-color: #f2f2f2;
    padding: 15px 15px;
    width: 95%;
    font-size: 12px;
}
.vendorPara span{
    font-weight: 550;
    font-size: 11px;
}